*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

form {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: auto;
    padding: 100px 80px;
    border-radius: 10px;
}

img {
    height: auto;
    width: 100px;
    margin: 0 0 20px;
}

input, button {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

button {
    background-color: gray;
    display: block;
    padding: 10px 20px;
}
